# Enable whitelisting mode
*
!*/

# Allow repo files
!.gitignore
!.editorconfig
!*.md

# Allow project files
!package.json
!tsconfig.json

# Allow source files
!*.d.ts

# Disallow artifacts
bin
obj
node_modules
